/*
---------
Sealcoat stylesheet
Palette - https://coolors.co/739cb5-eae8cc-393d3f-b36140-60492c
---------
*/

body {
  font-family: 'Open Sans', Arial, sans-serif;
}

nav {
  background-color: #739cb5;
}

.navbar-brand {
  color: #fff;
  font-size: 95%;
  text-transform: uppercase;
  padding: 0px 10px;
  font-weight: bold;
  ;
}

.nav-link, .navbar-toggler, .navbar-togger-icon {
  color: #fff;
  border: #fff;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 130%;
}

h3 {
  font-size: 110;
  font-weight: bold;
  margin-top: 1.5em;
}

p {
  margin: .5em 0em;
}
.bold {
  font-weight: bold;
}
.italics {
  font-style: italic;
}
main {
  padding: 10px;
}

aside {
  background-color: #eae8cc;
  border: 2px solid #393d3f;
  margin: 3px;
}

.gallery-preview {
  padding-top: 5px;
}

.headshot {
  width: 90px;
  border-radius: 90px;
  float: left;
  margin-right: 10px;
}

address ul.contacts {
  display: inline-flex;
  justify-content: space-around;
  list-style-type: none;
  width: 100%;
  margin: 8px 0px;
}

.infoqual {
  font-size: 80%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 3px
}

.spacemetop {
  margin-top: 1em;
}

/*
----------------
About
-------------------
*/

section.usgsresearch {
  margin: 1.5em;
  padding: 1em;
  border: 1px solid black;
  width: 30%;
}

.usgsresearch h1 {
  font-weight: bold;
  font-size: 110%;
}

.usgsresearch h2 {
  font-weight: bold;
  margin-top: 2em;
}

.usgsresearch img {
  float: left;
  width: 25%;
  height: auto;
  margin: 8px;
}

.question {
  font-weight: bold;
  margin: 1em 0em .5em;
}

.answer {
  margin: .5em 1em;
}

/*
----------------
Publications
-------------------
*/

.reference {
  margin-left: 2em;
  text-indent: -2em;
}

.toc {
  margin: 1em;
  padding: 5px;
  border: thin solid black;
  background-color: #EAE8CC;
}

.toc h3 {
  margin-top: 0em;
}

.toc ul {
  list-style-type: none;
  margin-left: 2em;
}

/*
----------------
Impacts
-------------------
*/

div.has-tooltip+div {
  display: none
}

div.has-tooltip {
  display: inline;
  font-size: 95%;
  vertical-align: super;
  border-bottom: dashed 1px #999;
  cursor: pointer;
  margin-left: 4px;
}

ul.impacts {
  list-style-type: circle !important;
  margin-left: 2em;
}

ul.impacts li {
  padding: .5em 0em;
}
